.game-container {
    position: absolute;
    width: 2304px;  /* Adjust to your desired game area width */
    height: 1250px; /* Adjust to your desired game area height */
    background-image: url('/assets/background.jpg');
    background-size: cover;  /* Optional: ensures the background covers the entire container */
    border: 10px solid #000; /* Black border, adjust as needed */
    overflow: hidden;
    margin: 0 auto; /* Center the game container */
    z-index: 1;
}
.character {
    width: 79px;  /* Width of a single frame */
    height: 140px; /* Height of a single frame */
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#player {
    background-image: url('/assets/Character_spritesheet.png');
    top: 92%;
    left: 20%;
}

#npc {
    background-image: url('/assets/NPC-Spritesheet.png');
    position: absolute;
    top: 84%;
    left: 80%; /* Adjust based on where you want the NPC to start */
    width: 210px;  /* Adjusted width */
    height: 800px; /* Adjusted height */
}
.projectile {
    position: absolute;
    width: 250px;  /* Adjust based on your projectile image */
    height: 100px; /* Adjust based on your projectile image */
    top: 50%;
    background-image: url('/assets/Projectile.png');
    background-size: cover;
    z-index: 3;  /* Ensure it's above the player and NPC */
    display: none; /* Hide it initially */
}